<div class="login-page">
  <div class="login-card">
    <h1>{{ 'AUTH.LOGIN.TITLE' | translate }}</h1>
    <p>{{ 'AUTH.LOGIN.DESCRIPTION' | translate }}</p>

    <form (ngSubmit)="login()">
      <mat-form-field appearance="outline">
        <mat-label>{{ 'AUTH.LOGIN.USERNAME' | translate }}</mat-label>
        <input
          [formControl]="userNameCtrl"
          matInput
          autocomplete="username"
        />
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>{{ 'AUTH.LOGIN.PASSWORD' | translate }}</mat-label>
        <input
          [formControl]="passwordCtrl"
          matInput
          type="password"
          autocomplete="current-password"
        />
      </mat-form-field>

      @if (isInvalidCredentials()) {
        <div class="error-msg">{{ 'AUTH.LOGIN.INVALID_CREDENTIALS' | translate }}</div>
      }

      <button
        mat-raised-button
        color="primary"
        type="submit"
      >
        {{ 'AUTH.LOGIN.SUBMIT' | translate }}
      </button>
    </form>
  </div>
</div>
